/* Declaring a custom font for use in the page 
 * - Reference Link: (https://www.w3tutorials.net/blog/how-can-i-use-custom-fonts-in-an-html5-canvas-element/#core-concepts-font-loading-and-canvas-text-apis) 
 * - Found in 'Core Concepts: Font Loading and Canvas Text APIs'
 */
@font-face {
	font-family: "pixel";
	src: url("../assets/game/images/arcade_pixel_font.ttf") format("ttf");
}


body {
	margin: 0 auto;
	text-align: center;
}

canvas {
	display: block;
	
	margin: 0 auto;	

	background-color: green;

	image-rendering: pixelated;
}

header > h1 {
	color: white;
	background-color: black;
}
