{% extends "base.html" %}

{% block javascript %}
	<script type="module" src="{{ url_for('static', filename='js/game/start/main.js') }}"></script>
{% endblock %}

{% block main_content %}
	<header>
		<h1>Shot In The Dark</h1>
	</header>
	
	<main>
		<canvas width="600px" height="400px"></canvas>

		<h1>Controls</h1>
		<ul>
			<li>Simpily use W, A, S, D to move.</li>
			<li>Left-click to shoot.</li>
			<li>Shift while moving to sprint.</li>
			<li>R to reload</li>
		</ul>


		<h1>Attributions</h1>
		<p>Thank you to the following artist for making this possible!</p>
		<ul>
			<li>For the asset pack: <a href="https://thelazystone.itch.io/post-apocalypse-pixel-art-asset-pack">https://thelazystone.itch.io/post-apocalypse-pixel-art-asset-pack</a></li>
			<li>For the fullscreen icon: <a href="https://www.citypng.com/png-download/19421">https://www.citypng.com/png-download/19421</a></li>
			<li>For the font: <a href=""https://stackoverflow.com/questions/68416291/how-to-draw-a-pixel-font-on-the-canvas-without-anti-aliasing>https://stackoverflow.com/questions/68416291/how-to-draw-a-pixel-font-on-the-canvas-without-anti-aliasing</a>
				<ul>
					<li><small>The original creator is not credited on this post, but the URL to their download is found here: <a href=""https://dl.dropboxusercontent.com/s/hsdwvz761xqphhb/pixel.ttf"">"https://dl.dropboxusercontent.com/s/hsdwvz761xqphhb/pixel.ttf"</a></small></li>
					<li><small>None of this content is mine!</small></li>
				</ul>
			</li>
		</ul>
	</a>
	
	<footer>
		<small>Made by Jann De Asis</small>
	</footer>
{% endblock %}
